
<table class="tx-pi-blog" >
	<tr>
		<td>
			<f:translate key="tx_piblog_domain_model_author.first_name" />
		</td>
		<td>
		{author.firstName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_piblog_domain_model_author.last_name" />
		</td>
		<td>
		{author.lastName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_piblog_domain_model_author.user_name" />
		</td>
		<td>
		{author.userName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_piblog_domain_model_author.description" />
		</td>
		<td>
		{author.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_piblog_domain_model_author.image" />
		</td>
		<td>
				<f:image src="{author.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
</table>