
<label for="userName">
	<f:translate key="tx_piblog_domain_model_comment.user_name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="userName" /><br />
<label for="publicationDate">
	<f:translate key="tx_piblog_domain_model_comment.publication_date" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="publicationDate"  value="{comment.publicationDate->f:format.date()}" /><br />
<label for="title">
	<f:translate key="tx_piblog_domain_model_comment.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" /><br />
<label for="content">
	<f:translate key="tx_piblog_domain_model_comment.content" /> <span class="required">(required)</span>
</label><br />
	<f:form.textarea property="content" cols="40" rows="15" /><br />