
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Post</h1>

<f:flashMessages />

<table  class="tx_piblog" >
	<tr>
		<th><f:translate key="tx_piblog_domain_model_post.title" /></th>
		<th><f:translate key="tx_piblog_domain_model_post.publication_date" /></th>
		<th><f:translate key="tx_piblog_domain_model_post.summary" /></th>
		<th><f:translate key="tx_piblog_domain_model_post.content" /></th>
		<th><f:translate key="tx_piblog_domain_model_post.thumbnail" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{posts}" as="post">
		<tr>
			<td><f:link.action action="show" arguments="{post : post}"> {post.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{post : post}"> {post.publicationDate -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{post : post}"> {post.summary}</f:link.action></td>
			<td><f:link.action action="show" arguments="{post : post}"> {post.content}</f:link.action></td>
			<td><f:link.action action="show" arguments="{post : post}"> {post.thumbnail.originalResource.name}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{post : post}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{post : post}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Post</f:link.action>
</f:section>