<f:layout name="Default" />

<f:section name="main">
<h1>Catégories</h1>
<div class="list-group">
	<f:for each="{categories}" as="category">
  		<f:link.action action="show" arguments="{category : category}" class="list-group-item"> 
    		<h2 class="list-group-item-heading">{category.name}</h2>
			<p class="list-group-item-text">{category.description -> f:format.stripTags() -> f:format.crop(maxCharacters: 150, append: ' ...', respectWordBoundaries: 1)}</p>
		</f:link.action>
	</f:for>
</div>
</f:section>