<f:layout name="Default" />

<f:section name="main">
<div class="list-group">
	<h1 class="list-group-item-heading">{category.name}</h1>
	<div class="list-group-item-text">{category.description -> f:format.html()}</div>
</div>

<f:if condition="{posts -> f:count()}">
	<hr>
	<h2 class="text-primary">Les posts de la catégorie "{category.name}"</h2>
	<f:for each="{posts}" as="post">
		<h3>{post.title}</h3>
		<f:render partial="Post/ListItem" arguments="{post: post}" />
	</f:for>
</f:if>

<f:link.action action="list">Liste des catégories</f:link.action><br />

</f:section>