<div class="row">
	<f:if condition="{post.thumbnail}">
		<div class="col-md-3">
			<f:image src="{post.thumbnail.uid}" treatIdAsReference="1" maxWidth="170" />
		</div>
	</f:if>
	<div {f:if(condition: post.thumbnail, then:'class="col-md-9"', else:'class="col-md-12"')}>
		<div>Le {post.publicationDate -> f:format.date(format: '%d %B %Y')}</div>
		<div>{post.summary -> f:format.html()}</div>
		<f:if condition="{post.authors -> f:count()}">
			<div>
				Par <f:for each="{post.authors}" as="author"> {author.firstname} {author.lastName}</f:for>
			</div>
		</f:if>
		<f:if condition="{post.tags -> f:count()}">
			<f:for each="{post.tags}" as="tag">
				<span class="label label-default">{tag.name}</span>
			</f:for>
		</f:if>
	</div>
</div>